.rbc-header {
  /* background: #eaf3fa; */
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none !important;
  border-bottom: 1px solid #205375;
}
.rbc-month-header {
  border-bottom: 1px solid #205375;
}
.rbc-event {
  /* padding: 0px !important; */
  /* border-radius: 0px !important; */
  /* border: none !important; */
  /* background-color: transparent !important; */
  margin-bottom: 5px;
}

.rbc-background-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent !important;
}

.rbc-row-bg {
  border-bottom: 1px solid #205375;
}

.rbc-time-slot {
  background-color: #eaf3fa;
  color: #74a4c3;
  border-color: aqua !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-timeslot-group {
  min-height: 120px !important;
}

.rbc-day-bg {
  border: none !important;
}

.rbc-month-row {
  border: none !important;
  max-height: 200px;
}

.rbc-button-link {
  font-size: 18px;
  /* width: 48px;
  height: 48px; */
  border-radius: inherit;
  pointer-events: none;

  /* padding: 10px; */
}

.rbc-month-view {
  border: none !important;
  min-width: 500px;
}

/* .rbc-row-content .rbc-row {
  height: 100%;
  width: 100%;
} */

.rbc-off-range-bg {
  background-color: rgb(249 253 255 / var(--tw-bg-opacity));
}

.rbc-date-cell {
  text-align: center;

  border-radius: 100%;
}
.rbc-current {
  color: brown;
  font-weight: 600;
}

.rbc-row-segment {
  pointer-events: none;
}

.rbc-row-segment {
  /* display: none; */
  height: 10px;
  font-size: 0px;
}
